<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

  <body>
    <%- include('../partials/headerAdmin.ejs') %>

      <div class="container contenido nuevo-producto">
        <!-- Titulo -->
        <h1 class="col">EDITAR PRODUCTO</h1>

        <form class="col-12 row creatEdit needs-validation" action="/admin/products/<%= dataProduct[4].id %>?_method=PUT " method="POST"
          enctype="multipart/form-data">
          <!-- Carrusel -->
          <div class="carrusel-add-image col-12 col-lg-6">
            <div id="carousel-controller" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <img src="/images/productos/<%= dataProduct[4].images[0].imgName %>" class="imagen-carrusel" id="img0"
                    alt="...">
                </div>

                  <div class="carousel-item">
                    <img
                    src="/images/productos/<%= typeof dataProduct[4].images[1] !== "undefined"? dataProduct[4].images[1].imgName : "1MoreImages.png"%> " class="imagen-carrusel" id="img1"
                      alt="...">
                  </div>
               

                  <div class="carousel-item">
                    <img
                    src="/images/productos/<%= typeof dataProduct[4].images[2] !== "undefined"? dataProduct[4].images[2].imgName : "1MoreImages.png"%> " class="imagen-carrusel" id="img2"
                      alt="...">
                  </div>

              </div>
              <a class="carousel-control-prev" href="#carousel-controller" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-controller" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            
            <!-- Boton agregar imagen -->
            <div class="boton-image col-12 form-group">
              <label class="btn btn-success form-control" for="archivo">Agregar foto</label>
              <input type="file" name="img" id="archivo" multiple>
            </div>
            <span class="obligatorio col-1 errorImgs">
              <%= (typeof errores !='undefined' && errores.imgs) ? errores.imgs.msg : null %>
            </span>
          </div>

          <!-- CAMPOS -->

          <div class="col-12 col-lg-6">
            <!-- Animales y Categorías -->

            <!-- ANIMALES -->
              <select class="seleccionar col-12 custom-select <%= (typeof errores != 'undefined' && errores.animal) ? "is-invalid" : null  %>" name="animal">
                <option value="" selected disabled>Elija una mascota</option>

                <% dataProduct[0].forEach(data=> { %>

                  <option value=<%=data.id %>
                    <%=(typeof old !='undefined' && old.animal && old.animal==data.id ? "selected" :
                      (data.id===dataProduct[4].subCategory.category.animal.id ? 'selected' : null)) %> ><%= data.animal
                        %>
                  </option>

                  <% }) %>
                </select>

              <!-- CATEGORIAS -->
              <select class="seleccionar col-12 custom-select <%= (typeof errores != 'undefined' && errores.category) ? "is-invalid" : null  %>" name="category">

                <option value="" selected disabled >Elija una categoría</option>

                <% dataProduct[1].forEach(categoria=> { %>

                  <option value=<%=categoria.id %>
                    <%=(typeof old !='undefined' && old.category && old.category==categoria.id ? "selected"
                      :(categoria.id===dataProduct[4].subCategory.category.id? 'selected' : null)) %> ><%=
                        categoria.category %>
                  </option>

                  <% }) %>
              </select>

            <!-- SUBCATEGORIAS -->
            <select class="sub-categoria margen col-12 custom-select <%= (typeof errores != 'undefined' && errores.subCategory) ? "is-invalid" : null  %> " name="subCategory">

              <option value="" selected disabled >Elija una subcategoría</option>

              <% dataProduct[2].forEach(subcat=> { %>

                <option value=<%=subcat.id %>
                  <%=(typeof old !='undefined' && old.subCategory && old.subCategory==subcat.id ? "selected"
                    :(subcat.id===dataProduct[4].subCategory.id? 'selected' : null)) %>
                    ><%= subcat.subCategory %>
                </option>

                <% }) %>
            </select>

            <!-- Nombre -->
            <div class="nombre margen form-group" style="flex-wrap: wrap;">

              <input class="completar col-12  form-control <%= (typeof errores != 'undefined' && errores.name) ? "is-invalid" : null  %>" type="text" name="name" placeholder="Nombre"
              value="<%= (typeof old != 'undefined' && old.name ? old.name : dataProduct[4].name) %>" >

              <span class="obligatorio errorName col-12">
              </span>

              <br>
              <% if (typeof errores != 'undefined' && errores.name && (errores.name.msg === 'El nombre debe tener al menos 5 caracteres') ) { %>
                <span class="obligatorio"><%= errores.name.msg %> </span>
              <% } %>
            </div>

            <!-- Descripcion -->
            <div class="descripcion margen form-group" style="flex-wrap: wrap;">

              <textarea class="completar col-12 form-control <%= (typeof errores != 'undefined' && errores.description) ? "is-invalid" : null  %>" name="description" cols="30" rows="3"
                placeholder="Descripción"><%=(typeof old != 'undefined' && old.description ? old.description : dataProduct[4].description) %></textarea>

                <span class="obligatorio errorDescription col-12">
                </span>

                <br>

                <% if (typeof errores != 'undefined' && errores.description && (errores.description.msg === 'La descripción debe tener al menos 20 caracteres') ) { %>
                  <span class="obligatorio"><%= errores.description.msg %> </span>
                <% } %>

            </div>

            <!-- Cantidad y precio -->
            <div class="cantidad-precio margen" style="flex-wrap: wrap;">

              <!-- cantidad -->
              <input class="completar col-12 col-lg-6 form-control <%= (typeof errores != 'undefined' && errores.cuantity) ? "is-invalid" : null  %>"  type="number" name="cuantity" min="1" step="1" placeholder="Cantidad"
              value="<%= (typeof old != 'undefined' && old.cuantity ? old.cuantity : dataProduct[4].cuantity) %>" />

              <!-- Espacio -->
              <div class="col-1"></div>

              <!-- Precio -->
              <input id="precio" class="input-precio completar col-12 col-lg-5 form-control <%= (typeof errores != 'undefined' && errores.price) ? "is-invalid" : null  %>" type="number" name="price" min="1" step=".1"
                placeholder="$ Precio" value="<%= (typeof old != 'undefined' && old.price ? old.price : dataProduct[4].price) %>" />

            </div>

            <!-- etiqueta y descuento -->
            <div class="etiqueta-descuento margen" style="flex-wrap: wrap;">

              <select class="seleccionar col-12 col-lg-6 form-control" name="label" id="etiqueta">
                <% dataProduct[3].forEach(etiqueta=> { %>

                  <option value=<%=etiqueta.id %>
                    <%=(typeof old !='undefined' && old.label && old.label==etiqueta.id ? "selected" :
                    (etiqueta.id===dataProduct[4].label.id? 'selected' : null)) %>
                    ><%= etiqueta.label %>
                  </option>
                  
                  <% }) %>

              </select>

              <!-- Espacio -->
              <div class="col-1"></div>

              <!-- descuento -->
              <input id="descuento" class="completar col-12 col-lg-5 form-control" type="number" name="discount" min="0" max="100" step="1" placeholder="% descuento" value="<%= typeof old != 'undefined' && old.discount ? old.discount : dataProduct[4].discount %>" />
            </div>

            <!-- vencimiento(etiqueta-descuento) y precio final -->
              <!-- vencimiento -->
              <label class='col-12' for="vencimiento">Vencimiento de etiqueta y descuento</label>
              <input class="vencimiento seleccionar col-12 form-control" type="date" name="expiration" placeholder="Vencimiento"
              value="<%= (typeof old != 'undefined' && old.expiration ? old.expiration : dataProduct[4].expiration) %>" >

              <!-- Espacio -->
              <div class="col-1"></div>

              <!-- Precio final -->

              <input id="precioFinal" class="completar col-12 form-control" type="text" name="finalPrice" placeholder="$ Precio final"
              value="<%= (typeof old != 'undefined' && old.finalPrice ? old.finalPrice : dataProduct[4].finalPrice) %>" >
            </div>

            <% if (typeof errores != 'undefined' && (errores.animal || errores.category || errores.subCategory || errores.name || errores.cuantity || errores.price)) { %>

              <span class="margen"><p><i class="fas fa-exclamation-circle"></i></p>  Campos obligatorios</span>

            <% } %>

             <!-- Botones -->
          <div class="botones col-12 row" >
            <a href="/admin/products/<%= dataProduct[4].id %>" class="btn btn-danger resetear col-4">Cancelar</a>
            <button class="btn btn-success crear col-4" type="submit">Aceptar</button>
          </div>

          </div>
         
        </form>
      </div>


      <%- include('../partials/footer') %>
      <script src="/javascripts/CreateEditProductValidator.js"></script>
  </body>

</html>