<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

      <main class="container-fluid contenido catalogo">

        <div class="row">
          <!-- FILTRO SUPERIOR -->
          <div class="filtro-superior col-12 row">
            <!-- Rutas -->
            <div class="col-md-5 col-sm-6">
              <section aria-label="breadcrumb ruta">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/productos">Tienda</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> actual </li>
                </ol>
              </section>
            </div>
            <!-- Resultados de busqueda -->
            <div class="resultado col-md-5 col-sm-6">
              <p>Resultados: 8</p>
            </div>
            <!-- Ordenar por -->
            <div class="topfilter col-md-2 col-sm-12">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ordenar por:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">M치s nuevo</a>
                  <a class="dropdown-item" href="#">M치s vendido</a>
                  <a class="dropdown-item" href="#">Favoritos</a>
                </div>
              </div>
            </div>

            <!-- FILTRO IZQUIERDO -->
          </div>
          <div class="filtro-izquierdo col-sm-4 col-md-3">
            <!-- animales -->
            <div class="animales">
              <h3>Comprar por</h3>
              <section class="imgs">
                <button>
                  <img src="/images/categorias/iconoPerro.png" alt="Enlace a Perro"></button></li>
                </button>
                <button>
                  <img src="/images/categorias/iconoGato.png" alt="Enlace a Gato"></button></li>
                </button>
                <button>
                  <img src="/images/categorias/iconoPez.png" alt="Enlace a Pez"></button></li>
                </button>
                <button>
                  <img src="/images/categorias/iconoAve.png" alt="Enlace a Ave"></button></li>
                </button>
                <button>
                  <img src="/images/categorias/iconoRoedor.png" alt="Enlace a Roedor"></button></li>
                </button>
                <button>
                  <img src="/images/categorias/iconoReptil.png" alt="Enlace a Reptil"></button></li>
                </button>
                </ul>
            </div>
            <!-- Rango de precio -->
            <form>
              <div class="form-group">
                <label for="formControlRange">Filtrar por precio</label>
                <input type="range" min="100" max="9000" step="1" class="form-control-range" id="formControlRange">
                <span>100</span> <span>10000</span>
              </div>
            </form>
            <!-- PRODUCTOS -->
          </div>
          <section class="col-sm-8 col-md-9">
            <article class="mas-nuevo col-12">

              <h3>Lo m치s nuevo</h3>

              <div class="row">
                <% products.forEach(product => { %>
                  <div class="card producto col-sm-3">
                    <div class="containerheart">
                      <i onclick="toggle()" id="btn" class="far fa-star"></i>
                    </div>
                    <!-- carusel -->
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">

                        <div class="carousel-item active">
                          <img src="/images/productos/<%= product.img[0] %>" class="d-block w-100" data-interval="1000" alt="...">
                      </div>

                        <% for( let index = 1; index < product.img.length; index++ ) { %>
                          <div class="carousel-item">
                            <img src="/images/productos/<%= product.img[index] %>" class="d-block w-100" data-interval="1000" alt="...">
                        </div>
                      <% } %>
                        
                      </div>
                    </div>

                    <div class="producto-datos">
                      <h5 class="titulo producto"><%=product.name%> </h5>
                      <p><span class="precio-final"><%= product.finalPrice %> </span><span class="descontado"><%= product.discount %> </span></p>
                     
                      <a href="/admin/products/<%= product.id %> "  class="btn btn-success">Detaller</a>
                    </div>
                  </div>
                  <% }) %>
              </div>

            </article>

            <article class="mas-vendido col-12">
              <h3>Lo mas vendido</h3>
              <div class="row">
                <% products.forEach(product => { %>
                  <div class="card producto col-sm-3">
                    <div class="containerheart">
                      <i onclick="toggle()" id="btn" class="far fa-star"></i>
                    </div>

                    <img src="/images/productos/<%=product.img[0]%>" class="card-img-top" alt="imagen de producto">
                  
                    <div class="producto-datos">
                      <h5 class="titulo producto"><%=product.name%> </h5>
                      <p><span class="precio-final"><%= product.finalPrice %> </span><span class="descontado"><%= product.discount %> </span></p> 
                      <a href=""  class="btn btn-success">Detaller</a>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </article>
            <!-- P치ginas -->
            <div class="paginas col-12">
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>

                </ul>
              </nav>
            </div>
          </section>


        </div>

        <%- include('./partials/footer') %>
      </main>
<!--       <script>
        var btn = document.getElementById('btn');
    
        function toggle(){
          if(btn.classList.contains == "far"){
          btn.classList.remove("far");
          btn.classList.add("fas")
        }else{
          btn.classList.remove("fas");
          btn.classList.add("far")
        }
        }
      </script>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="node_modules/jquery.nice-number/dist/jquery.nice-number.min.js"></script>
      <script>
        $('input[type="number"]').niceNumber();
      </script> -->
  </body>
</html>

