<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

<body>

<%- include('../partials/header.ejs') %>


<div class="container-fluid row contenido form-login-register">

<!--INICIAR SESIÓN-->

<form class="formulario-iniciar row col-12 col-md-6" method="POST" action="/usuario/ingresar">
    <h1 class= "col-12"> Ingresar</h1>

<!-- email -->
<div class="input-contenedor col-12">
    <i class="fas fa-envelope icon"></i>
<input type="text" placeholder="Correo electrónico" name="email" value="<%= (typeof old != 'undefined' && old.email ? old.email : null) %>"><br>
<span class="text-danger"><%= (typeof erroresLogin != 'undefined' && erroresLogin.email) ? erroresLogin.email.msg : null %> </span>
</div>

<!-- Password -->
<div class="input-contenedor col-12">
    <i class="fas fa-key icon"></i>
<input type="password" placeholder="Contraseña" name="password"><br>
<span class="text-danger"><%= (typeof erroresLogin != 'undefined' && erroresLogin.password) ? erroresLogin.password.msg : null %> </span>
</div>

<!-- Rememberme -->
<div class="input-contenedor col-12">
    <label for="rememberme">Recordar</label>
    <input type="checkbox" id="rememberme" name="rememberme">
</div>

<div class="col-12">
<button type="submit" class="btn btn-success"> Ingresar</button>
</div>
</form> 

 <!--REGISTRO-->

 <form class="formulario-registro col-12 col-md-6" method="POST" action="/usuario/register">
    <h1> Registrarse</h1>
    <!-- nombre -->
<div class="input-contenedor col-12">
    <i class="fas fa-user icon"></i>
    <input name="name" type="text" placeholder="Nombre y apellido" value="<%= (typeof oldRegister != 'undefined' && oldRegister.name ? oldRegister.name : null) %>"> <br>
    <span class="text-danger"><%= (typeof erroresRegister != 'undefined' && erroresRegister.name) ? erroresRegister.name.msg : null %> </span>
</div>
<!-- email -->
<div class="input-contenedor col-12">
    <i class="fas fa-envelope icon"></i>
    <input name="email" type="text" placeholder="Correo electrónico" value="<%= (typeof oldRegister != 'undefined' && oldRegister.email ? oldRegister.email : null) %>"><br>
    <span class="text-danger"><%= (typeof erroresRegister != 'undefined' && erroresRegister.email) ? erroresRegister.email.msg : null %> </span>
</div>
<!-- password -->
<div class="input-contenedor col-12">
    <i class="fas fa-key icon"></i>
    <input name="password" type="password" placeholder="Contraseña"><br>
    <span class="text-danger"><%= (typeof erroresRegister != 'undefined' && erroresRegister.password) ? erroresRegister.password.msg : null %> </span>
</div>
<!-- confirmar password -->
<div class="input-contenedor col-12">
    <i class="fas fa-key icon"></i>
    <input name="confirmacion" type="password" placeholder="Confirmar contraseña"><br>
    <span class="text-danger"><%= (typeof erroresRegister != 'undefined' && erroresRegister.confirmacion) ? erroresRegister.confirmacion.msg : null %> </span>
</div>

<div class= "col-12">
<button type="submit" class="btn btn-success "> Registrarse</button>
<p> Al registrarte, aceptas nuestras condiciones de uso y Politica de Privacidad.</p>
</div>

</form> 

</div>
<%- include('../partials/footer.ejs') %>
</body>


</html>

      