<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
   
    <div class="contenido container-fluid welcome">
        <div class ="welcomeBox">
        <h1> Bienvenido <br><b><%= localUser.firstName %></b> </h1>
        <h3>¡Has ingresado correctamente!</h3>
        <a class='botonEditarUser' href="/usuario/editar/<%= user.id %> "><i class="far fa-edit"></i>   Editar</a>
        <a class='botonDesloguear' href="/usuario/logout"><i class="fas fa-sign-out-alt"></i>   Cerrar sesión</a>
        </div>
        </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>