<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

  <body>
    <% if (typeof localUser !=='undefined' && localUser.admin==1) { %>

      <%- include('./partials/headerAdmin') %>

          <% } else { %>

              <%- include('./partials/header') %>

                  <% } %>

      <div class="home container-fluid contenido">
        <div class="row">

          <!--CARRUSEL -->
          <div id="myCarousel" class="carousel slide col-12" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/carrusel1.jpg" class="imagen-carrusel d-block w-100" alt="">
              </div>
              <div class="carousel-item">
                <img src="images/carrusel2.jpg" class="imagen-carrusel d-block w-100" alt="">
              </div>
              <div class="carousel-item">
                <img src="images/carrusel3.jpg" class="imagen-carrusel d-block w-100" alt="">
              </div>
            </div>
          </div>

          <div class=" container-fluid col-12">

            <div class="col-12 container-fluid categorias">
              <div class="row categorias-animales">

                <% animals.forEach(animal=> { %>
                  <div>
                    <a href="/productos/filtro/animal/<%= animal.id %>"><img src="images/categorias/<%= animal.img %> "
                        alt="<%= animal.animal %> "></a>
                  </div>
                  <% }) %>

              </div>
            </div>

            <br>
            <!--PRODUCTOS-->
            <section class="container">
              <h3>Más vendidos</h3>
              <div class="row products">

                <% for( let i=0; i < 5; i++ ) { %>
                  <div class="card producto container-fluid col-sm-5 col-lg-2">
                    <!-- nuevo -->
                    <% if (typeof localUser !=='undefined' ) { %>
                      <div class="containerheart">
                        <i onclick="toggle()" id="btn" class="far fa-star"></i>
                      </div>
                      <% } %>
                        <!-- imagen -->
                        <a href="/productos/detalle/<%= products[i].id %> ">
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" style="width: 100%; object-fit: contain;">

                              <div class="carousel-item active">
                                <img src="/images/productos/<%= products[i].images[0].imgName %>" class="d-block w-100"
                                  style="width: 100%; height: 250px; object-fit: contain;" data-interval="1000"
                                  alt="...">
                              </div>

                              <% for( let index=1; index < products[i].images.length; index++ ) { %>
                                <div class="carousel-item">
                                  <img src="/images/productos/<%= products[i].images[index].imgName %>"
                                    class="d-block w-100" style="width: 100%; height: 250px; object-fit: contain;"
                                    data-interval="1000" alt="...">
                                </div>
                                <% } %>

                            </div>
                          </div>
                        </a>

                        <div class="producto-datos">
                          <!-- nombre -->
                          <h5 class="titulo producto">
                            <%=products[i].name%>
                          </h5>
                          <!-- precio y descuento -->
                          <p><span class="precio-final">$
                              <%= products[i].finalPrice %>
                            </span><span class="descontado">
                              <%= products[i].discount %>%off
                            </span></p>
                          <!-- cantidad y comprar -->
                          <% if (typeof localUser !=='undefined' ) { %>
                            <div class="box">
                              <input type="number" max="<%= products[i].cuantity %> ">
                            </div>
                            <div class="btn-compra">
                              <button type="button" class="btn btn-success"><i class="fas fa-shopping-cart"></i>
                                Agregar</button>
                            </div>
                            <% } %>
                        </div>
                  </div>

                  <% } %>
              </div>

            </section>



            <div class="mt-5 col-12 info-nosotros">
              <p id="nosotros">En nuestra empresa FootGoose® ofrecemos una amplia gama de productos y alimentos para su
                mascota, como así
                también un servicio médico ambulatorio para emergencias veterinarias.
                Somos la empresa líder en distribución y abastecimiento de insumos animales. Nuestros clientes promueven
                a
                las
                mascotas como un miembro más de la familia, y a cambio nosotros les proveemos un servicio de primer
                nivel.
                <br>
                El proyecto FootGoose® surge cuando en 1984 Alejandro Patiño (padre del dueño de la marca), le realiza maniobras de RCP a un ganso en una playa de la costa este de los
                Estados Unidos. Al salvarle la vida al animal, un extraño hombre le agradeció, era el mismísimo Kenny Loggins, dueño del ganso llamado <a href="/rupert">Rupert</a>.
                <br>
                <b><i>-"Jamás imaginé que conocería a Kenny Loggins, ni mucho menos descubrir que tenía un ganso mascota"-</i> dijo Alejandro.</b>
                <br>
                A partir de ese momento, Loggins formó una gran amistad con Patiño, y juntos fundaron FootGoose®, el primer centro veterinario con temática ochentosa.
              </p>
            </div>

            <br><br>

            <div class="row info-width col-12">

              <article class="col-12 col-lg-4">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
              </article>

              <article class="col-12 col-lg-4">
                <i class="fas fa-box"></i>
                <h4>Envío gratis desde $2.000</h4>
              </article>

              <article class="col-12 col-lg-4">
                <i class="fas fa-user-shield "></i>
                <h4>Seguridad, de principio a fin</h4>
              </article>

            </div>
          </div>
        
          </div>
          <br><br>

        </div>

        <%- include('./partials/footer') %>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
        </script>
      <script src="https://unpkg.com/jquery.nice-number@2.1.0/dist/jquery.nice-number.min.js"></script>
      <script>
        $('input[type="number"]').niceNumber();
      </script>


  </body>

</html>